*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: var(--color-dark);
  color: var(--color-white);
}

@media (min-width: 768px) {
  html,
  body {
    overflow: hidden;
  }

  @media (max-width: 767px) {
    html,
    body {
      overflow: auto;
    }
  }
}

.footer-mobile {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 8rem !important;
  }
  .canvas-container {
    margin-top: 0% !important;
    margin-left: -4% !important;
    width: 100vw !important;
    height: auto !important;
  }

  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
    padding-bottom: 1rem !important;
    margin-top: 1rem;
    text-align: left;
    font-size: 13px;
  }
}

/* .canvas-container {
  width: 44vw;
  height: 76vh;
} */

@media (min-width: 1024px) and (max-width: 1536px) {
  .canvas-container {
    margin-top: -25% !important;
    margin-left: 25% !important;
  }
}

:root {
  --color-dark: #202020;
  --color-red: #861c2b;
  --color-white: #ffffff;
  --color-accent: #cccccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
  color: var(--color-white);
}

h1 {
  font-size: 12rem;
}

p {
  margin: 0;
  color: var(--color-white);
  font-size: 1rem;
}

.btn-custom {
  background-color: var(--color-white);
  color: var(--color-dark);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.btn-custom:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.box-nike {
  height: 100vh;
  width: 290px;
  background-color: var(--color-red);
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20%;
  margin-left: 10%;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  pointer-events: none;
}
